@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Anybody", Arial, Helvetica, sans-serif;
}

.first-slide {
  height: 200%;
  margin: 0;
  background: conic-gradient(from 26deg at 60% 25%, rgba(38, 108, 98, 1) 0%, rgba(136, 40, 28, 1) 33%, rgba(136, 40, 28, 1) 60%, rgba(254, 240, 213, 1) 64%, rgba(254, 240, 213, 1) 72%, rgba(38, 108, 98, 1) 85%);
  height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 0% 6% 0% 6%;
  padding-top: 3%;
  justify-content: space-between;
}

.header-left_side {
  width: 70px;
  height: 70px;
  background-color: white;
}

.header-right_side {
  width: 520px;
}

.header-right_side-button {
  width: 80px;
  height: 30px;
  background-color: white;
}

.header-right_side-contact {
  width: 80px;
  height: 50px;
  color: white;
  border: unset;
  border-radius: 7px;
  background-color: #88281C;
}

.title-text1 {
  margin: 5% 6% 0% 6%;
  color:#D2431B;
  font-size: 7.25rem;
  line-height: 7.5rem;
  animation: appear-from-left ease-in-out 1s;
}

.title-text2 {
  margin: 0% 6% 0% 16%;
  color:#FDEED3;
}

.title-text3 {
  margin: 5% 46% 0% 6%;
  color:#ffffff;
  font-size: 5rem;
  line-height: 5.5rem;
}

.image-scroll {
  width: 80%;
  height: 500px;
  background-color: wheat;
}

.carousel-image {
  width: 300px; 
  height: 300px;
}

.carousel-image2 {
  width: 400px; 
  height: 400px;
}

.second-slide {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #FDEED3;
  background-image: url("../public/imgs/bg.png");
  background-position: right;
  background-repeat: no-repeat;
}

.second-slide-title {
  margin: 0% 6% 0% 6%;
  padding-top: 7%;
  color:#266C62;
  font-size: 6rem;
  line-height: 7.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes appear-from-left {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}